# build output
dist/
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*

# environment variables
.env
.env.local
.env.production

# macOS
.DS_Store

# jetbrains
.idea/

# turbo
.turbo/

# prisma
packages/db/prisma/migrations/**/migration_lock.toml
